body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.info-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.info-box {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: calc(33.333% - 20px); /* Ensure three boxes fit in a row */
    height: 250px;
}

.info-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.box-content {
    text-align: center;
}

.box-content img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.box-content h4 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}

.box-content p {
    margin: 5px 0;
    font-size: 1em;
    color: #555;
}

.contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.contact-form {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    color: #333;
}

.contact-form input:focus, 
.contact-form textarea:focus {
    border-color: #066a9c;
    outline: none;
}

.contact-form button {
    width: 100%;
    padding: 12px;
    background-color: #066a9c;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #033f5e;
}

.contact-form .message {
    margin-top: 15px;
    font-size: 14px;
}

.contact-form .message.success {
    color: #28a745;
}

.contact-form .message.error {
    color: #dc3545;
}